@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Changing app font */
:root {
  --ion-font-family: "Poppins";
}


/* Transparent BG on scanner screen */
body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}